<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cetingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CetingApp">
        <activity
            android:name=".Fitur7_3Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur8Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur7_1Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur7Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur6Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur5Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur4_2Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur4_1Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur4Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur3Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur2_2Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur2_1Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur2Activity"
            android:exported="false" />
        <activity
            android:name=".Fitur1Activity"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>